<mat-card *ngIf="matchCount == 3">
  <mat-card-header style="align-self: center">
    <h1>Match Need</h1>
  </mat-card-header>
  <mat-card-content style="align-self: center">
    All of your needs have been provided. Would you like to match?
    <br />
    <form class="example-form" [formGroup]="formNeed" (ngSubmit)="clicked()">
      <div>
        <mat-checkbox formControlName="isMatched" class="example-margin"
          >Want to match?</mat-checkbox
        >
      </div>
      <div style="margin-top: 10px">
        <button mat-raised-button color="primary">Match</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="matchCount == 2">
  <mat-card-header style="align-self: center">
    <h1>Match Need</h1>
  </mat-card-header>
  <mat-card-content style="align-self: center">
    2/3 of your need have been provided. Would you like to match?
    <br />
    <form class="example-form" [formGroup]="formNeed" (ngSubmit)="clicked()">
      <div>
        <mat-checkbox formControlName="isMatched" class="example-margin"
          >Want to match?</mat-checkbox
        >
      </div>
      <div style="margin-top: 10px">
        <button mat-raised-button color="primary">Match</button>
      </div>
    </form></mat-card-content
  >
</mat-card>
<mat-card *ngIf="matchCount < 2">
  <mat-card-header style="align-self: center">
    <h1>No Match</h1>
  </mat-card-header>
  <mat-card-content style="align-self: center"
    >No Match please wait for more provide.</mat-card-content
  >
</mat-card>
